In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv('/Users/alexandre.sena/code/Ceynnah/Exercises/Klarna/dataset.csv', sep = ';')

In [9]:
data.head()

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,...,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,...,1,1,1,1,0,0,0,178839,9.653333,1.0
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.0,0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,...,1,1,2,2,0,0,0,49014,13.181389,NaN
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,1,1,2,2,0,0,0,124839,11.561944,1.0
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,0,0,0,324676,15.751111,1.0
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0,1,1,1,0,0,0,7100,12.698611,NaN

In [13]:
data['default']

array([ 0.,  1., nan])

In [10]:
data.isna().sum()

uuid                                       0
default                                10000
account_amount_added_12_24m                0
account_days_in_dc_12_24m              11836
account_days_in_rem_12_24m             11836
account_days_in_term_12_24m            11836
account_incoming_debt_vs_paid_0_24m    59315
account_status                         54373
account_worst_status_0_3m              54373
account_worst_status_12_24m            66761
account_worst_status_3_6m              57702
account_worst_status_6_12m             60350
age                                        0
avg_payment_span_0_12m                 23836
avg_payment_span_0_3m                  49305
merchant_category                          0
merchant_group                             0
has_paid                                   0
max_paid_inv_0_12m                         0
max_paid_inv_0_24m                         0
name_in_email                              0
num_active_div_by_paid_inv_0_12m       22939
num_active_inv                             0
num_arch_dc_0_12m                          0
num_arch_dc_12_24m                         0
num_arch_ok_0_12m                          0
num_arch_ok_12_24m                         0
num_arch_rem_0_12m                         0
num_arch_written_off_0_12m             18078
num_arch_written_off_12_24m            18078
num_unpaid_bills                           0
status_last_archived_0_24m                 0
status_2nd_last_archived_0_24m             0
status_3rd_last_archived_0_24m             0
status_max_archived_0_6_months             0
status_max_archived_0_12_months            0
status_max_archived_0_24_months            0
recovery_debt                              0
sum_capital_paid_account_0_12m             0
sum_capital_paid_account_12_24m            0
sum_paid_inv_0_12m                         0
time_hours                                 0
worst_status_active_inv                69515
dtype: int64

In [14]:
data.columns

Index(['uuid', 'default', 'account_amount_added_12_24m',
       'account_days_in_dc_12_24m', 'account_days_in_rem_12_24m',
       'account_days_in_term_12_24m', 'account_incoming_debt_vs_paid_0_24m',
       'account_status', 'account_worst_status_0_3m',
       'account_worst_status_12_24m', 'account_worst_status_3_6m',
       'account_worst_status_6_12m', 'age', 'avg_payment_span_0_12m',
       'avg_payment_span_0_3m', 'merchant_category', 'merchant_group',
       'has_paid', 'max_paid_inv_0_12m', 'max_paid_inv_0_24m', 'name_in_email',
       'num_active_div_by_paid_inv_0_12m', 'num_active_inv',
       'num_arch_dc_0_12m', 'num_arch_dc_12_24m', 'num_arch_ok_0_12m',
       'num_arch_ok_12_24m', 'num_arch_rem_0_12m',
       'num_arch_written_off_0_12m', 'num_arch_written_off_12_24m',
       'num_unpaid_bills', 'status_last_archived_0_24m',
       'status_2nd_last_archived_0_24m', 'status_3rd_last_archived_0_24m',
       'status_max_archived_0_6_months', 'status_max_archived_0_12_months',
       'status_max_archived_0_24_months', 'recovery_debt',
       'sum_capital_paid_account_0_12m', 'sum_capital_paid_account_12_24m',
       'sum_paid_inv_0_12m', 'time_hours', 'worst_status_active_inv'],
      dtype='object')

In [88]:
new_data = data.drop(columns=['account_incoming_debt_vs_paid_0_24m',
       'account_status', 'account_worst_status_0_3m',
       'account_worst_status_12_24m', 'account_worst_status_3_6m',
       'account_worst_status_6_12m','worst_status_active_inv','avg_payment_span_0_3m', 'num_arch_written_off_12_24m', 'num_arch_written_off_0_12m', 'avg_payment_span_0_12m'])

In [89]:
new_data.isna().sum().sort_values()

uuid                                    0
sum_capital_paid_account_12_24m         0
sum_capital_paid_account_0_12m          0
recovery_debt                           0
status_max_archived_0_24_months         0
status_max_archived_0_12_months         0
status_max_archived_0_6_months          0
status_3rd_last_archived_0_24m          0
status_2nd_last_archived_0_24m          0
status_last_archived_0_24m              0
num_unpaid_bills                        0
num_arch_rem_0_12m                      0
num_arch_ok_12_24m                      0
num_arch_ok_0_12m                       0
num_arch_dc_12_24m                      0
num_arch_dc_0_12m                       0
num_active_inv                          0
name_in_email                           0
max_paid_inv_0_24m                      0
max_paid_inv_0_12m                      0
has_paid                                0
merchant_group                          0
merchant_category                       0
age                                     0
account_amount_added_12_24m             0
sum_paid_inv_0_12m                      0
time_hours                              0
default                             10000
account_days_in_term_12_24m         11836
account_days_in_rem_12_24m          11836
account_days_in_dc_12_24m           11836
num_active_div_by_paid_inv_0_12m    22939
dtype: int64

In [90]:
new_data['account_days_in_term_12_24m'].replace(np.nan, 0, inplace=True)
new_data['account_days_in_rem_12_24m'].replace(np.nan, new_data['account_days_in_term_12_24m'].mean(),inplace=True)
new_data['account_days_in_dc_12_24m'].replace(np.nan, 0, inplace=True)
new_data['num_active_div_by_paid_inv_0_12m'].replace(np.nan, new_data['account_days_in_term_12_24m'].mean(), inplace=True)

In [92]:
test_data = new_data[new_data['default'].isna()]
test_data.isna().sum()

uuid                                    0
default                             10000
account_amount_added_12_24m             0
account_days_in_dc_12_24m               0
account_days_in_rem_12_24m              0
account_days_in_term_12_24m             0
age                                     0
merchant_category                       0
merchant_group                          0
has_paid                                0
max_paid_inv_0_12m                      0
max_paid_inv_0_24m                      0
name_in_email                           0
num_active_div_by_paid_inv_0_12m        0
num_active_inv                          0
num_arch_dc_0_12m                       0
num_arch_dc_12_24m                      0
num_arch_ok_0_12m                       0
num_arch_ok_12_24m                      0
num_arch_rem_0_12m                      0
num_unpaid_bills                        0
status_last_archived_0_24m              0
status_2nd_last_archived_0_24m          0
status_3rd_last_archived_0_24m          0
status_max_archived_0_6_months          0
status_max_archived_0_12_months         0
status_max_archived_0_24_months         0
recovery_debt                           0
sum_capital_paid_account_0_12m          0
sum_capital_paid_account_12_24m         0
sum_paid_inv_0_12m                      0
time_hours                              0
dtype: int64

In [95]:
X_test = test_data.drop(columns = ['default'])
y_test = test_data['default']

In [100]:
train_data = new_data[new_data['default'].notna()]
len(train_data.index)

89976

In [ ]:
X_test = test_data.drop(columns = ['default'])
y_test = test_data['default']